
{% extends "admin/base.html" %}

{% block admin_content %}

<div class="glass p-8 rounded-3xl shadow-2xl">

    <div class="flex items-center justify-between mb-6">
        <h2 class="text-3xl font-bold text-gray-800">
            Jobs Ready For Invoicing
        </h2>
    </div>
    <div class="bg-green-50 p-4 rounded-xl mb-6">
    <h3 class="text-lg font-semibold text-green-800">
        {{ finished_jobs|length }} Jobs Ready To Be Invoiced
    </h3>
</div>
{% if finished_jobs %}
    <div class="overflow-x-auto">
        <table class="w-full text-left">
            <thead>
                <tr class="border-b border-gray-200">
                    <th class="pb-3 text-gray-600">Appointment</th>
                    <th class="pb-3 text-gray-600">Customer</th>
                    <th class="pb-3 text-gray-600">Status</th>
                    <th class="pb-3 text-gray-600">Finished</th>
                </tr>
            </thead>

            <tbody>
                {% for job in finished_jobs %}
                <tr class="border-b border-gray-100 hover:bg-gray-50 transition">

                    <td class="py-4 font-semibold">
                        #{{ job.apt_id }}
                    </td>
                    <td class="py-4 text-gray-600">
                        {{ job.customer.first_name }} {{ job.customer.last_name }}
                    </td>
                    <td class="py-4">
                        <span class="px-3 py-1 rounded-full text-sm font-semibold bg-green-100 text-green-800">
                            {{ job.status }}
                        </span>
                    </td>

                   <td class="py-4 text-gray-600">
                       {{ job.actual_finish_time.strftime('%b %d, %Y') }}<br>
                   <span class="text-sm text-gray-500">
                         {{ job.actual_finish_time.strftime('%I:%M %p') }}
                   </span>
                 </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% else %}
<div class="text-center py-10 text-gray-500">
    No jobs are ready for invoicing.
</div>
{% endif %}

{% endblock %}
